.nav {
  padding: 24px 36px;
  border-bottom: 1px solid var(--accent);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-left: 12px;
  padding: 0.75rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--accent);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, width 0.15s ease;
  background: transparent;
  cursor: pointer;
  height: 50px;
}

.button:hover {
  text-decoration: underline;
}

.button.danger {
  border-color: var(--error);
}

.center {
  display: flex;
  place-content: center;
  height: 100%;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  place-content: center;
}

.nav ul a {
  padding: 24px 0;
}

.nav ul li:not(:first-child) {
  margin-left: 8px;
}
.nav ul li:not(:last-child) {
  margin-right: 8px;
}

.nav ul a:hover {
  text-decoration: underline;
}
