:root {
  --bg: white;
  --text: black;
  --accent: #eaeaea;
  --error: rgba(255, 0, 0, 0.8);

  --skeleton-start-color: #edf2f7;
  --skeleton-end-color: #a0aec0;
}

@keyframes skelet {
  from {
    border-color: var(--skeleton-start-color);
    background-color: var(--skeleton-start-color);
    opacity: 0;
  }

  to {
    border-color: var(--skeleton-end-color);
    background-color: var(--skeleton-end-color);
    opacity: 1;
  }
}

.skeleton {
  opacity: 0.7;
  cursor: default;
  color: transparent;
  pointer-events: none;
  user-select: none;
  border-radius: 2px;

  border-color: var(--accent);
  background: padding-box rgb(160, 174, 192);

  animation: 0.8s linear 0s infinite alternate none running skelet;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  color: var(--text);
  background: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --text: white;
    --accent: #222;

    --skeleton-start-color: rgba(34, 34, 34, 1);
    --skeleton-end-color: rgba(51, 51, 51, 0.4);
  }

  html {
    color-scheme: dark;
  }
}
